adfhandsonmack/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfhandsonmack"
		},
		"Bronze_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Bronze'"
		},
		"Fonte_dados_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Fonte_dados'"
		},
		"Parquet_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Parquet'"
		},
		"gold_parquet_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'gold_parquet'"
		},
		"Bronze_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stghandsonmack.dfs.core.windows.net/"
		},
		"Parquet_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stghandsonmack.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/all_pipes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "execute_etl",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "etl_pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/etl_pipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/cp_agg_silver_gold')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "silver_to_gold",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "silver_to_gold",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcsilver": {},
									"toGoldAggMunicipio": {},
									"toGoldAggDelito": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/silver_to_gold')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/cp_bronze_silver')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "bronze_to_silver",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "bronze_to_silver",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcbronze": {},
									"tosilver": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/bronze_to_silver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/etl_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cp_bronze_silver",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "cp_bronze_silver",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "cp_agg_silver_gold",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "cp_bronze_silver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "cp_agg_silver_gold",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/cp_bronze_silver')]",
				"[concat(variables('factoryId'), '/pipelines/cp_agg_silver_gold')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Data_lake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Bronze",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Lake_bronze",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Bronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_zwr')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Bronze",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Lake_bronze",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Bronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Fonte_dados')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Fonte_dados",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "violencia_domestica",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "municipio_cod;municipio_fato;data_fato;mes;ano;risp;rmbh;natureza_delito;tentado_consumado;qtde_vitimas",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Fonte_dados')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_zwr')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Fonte_dados",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "violencia_domestica",
						"container": "bronze"
					},
					"columnDelimiter": ";",
					"rowDelimiter": "\n",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "municipio_cod",
						"type": "String"
					},
					{
						"name": "municipio_fato",
						"type": "String"
					},
					{
						"name": "data_fato",
						"type": "String"
					},
					{
						"name": "mes",
						"type": "String"
					},
					{
						"name": "ano",
						"type": "String"
					},
					{
						"name": "risp",
						"type": "String"
					},
					{
						"name": "rmbh",
						"type": "String"
					},
					{
						"name": "natureza_delito",
						"type": "String"
					},
					{
						"name": "tentado_consumado",
						"type": "String"
					},
					{
						"name": "qtde_vitimas",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Fonte_dados')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/gold_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gold_parquet",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Gold"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "gold"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "municipio_fato",
						"type": "UTF8"
					},
					{
						"name": "municipio_cod",
						"type": "INT64"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/gold_parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Parquet",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Silver"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "mycols",
						"type": "UTF8"
					},
					{
						"name": "municipio_cod",
						"type": "UTF8"
					},
					{
						"name": "municipio_fato",
						"type": "UTF8"
					},
					{
						"name": "data_fato",
						"type": "UTF8"
					},
					{
						"name": "mes",
						"type": "INT32"
					},
					{
						"name": "ano",
						"type": "INT32"
					},
					{
						"name": "risp",
						"type": "UTF8"
					},
					{
						"name": "rmbh",
						"type": "UTF8"
					},
					{
						"name": "natureza_delito",
						"type": "UTF8"
					},
					{
						"name": "tentado_consumado",
						"type": "UTF8"
					},
					{
						"name": "qtde_vitimas",
						"type": "INT32"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Bronze_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Bronze_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Fonte_dados')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('Fonte_dados_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Parquet_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Parquet_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/gold_parquet')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('gold_parquet_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_to_silver')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SourceDataset_zwr",
								"type": "DatasetReference"
							},
							"name": "srcbronze"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "silver_parquet",
								"type": "DatasetReference"
							},
							"name": "tosilver"
						}
					],
					"transformations": [
						{
							"name": "DistinctRows"
						},
						{
							"name": "LookForNULLs"
						}
					],
					"scriptLines": [
						"source(output(",
						"          municipio_cod as string,",
						"          municipio_fato as string,",
						"          data_fato as string,",
						"          mes as integer,",
						"          ano as integer,",
						"          risp as string,",
						"          rmbh as string,",
						"          natureza_delito as string,",
						"          tentado_consumado as string,",
						"          qtde_vitimas as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> srcbronze",
						"srcbronze aggregate(groupBy(mycols = sha2(256,columns())),",
						"     each(match(true()), $$ = first($$))) ~> DistinctRows",
						"DistinctRows split(contains(array(toString(columns())),isNull(#item)),",
						"     disjoint: false) ~> LookForNULLs@(hasNULLs, noNULLs)",
						"LookForNULLs@noNULLs sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          mycols as string,",
						"          municipio_cod as string,",
						"          municipio_fato as string,",
						"          data_fato as string,",
						"          mes as integer,",
						"          ano as integer,",
						"          risp as string,",
						"          rmbh as string,",
						"          natureza_delito as string,",
						"          tentado_consumado as string,",
						"          qtde_vitimas as integer",
						"     ),",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> tosilver"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_zwr')]",
				"[concat(variables('factoryId'), '/datasets/silver_parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_to_gold')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "silver_parquet",
								"type": "DatasetReference"
							},
							"name": "srcsilver"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "gold_parquet",
								"type": "DatasetReference"
							},
							"name": "toGoldAggMunicipio"
						},
						{
							"dataset": {
								"referenceName": "gold_parquet",
								"type": "DatasetReference"
							},
							"name": "toGoldAggDelito"
						}
					],
					"transformations": [
						{
							"name": "aggmunicipio"
						},
						{
							"name": "aggnaturezadelito"
						}
					],
					"scriptLines": [
						"source(output(",
						"          mycols as string,",
						"          municipio_cod as string,",
						"          municipio_fato as string,",
						"          data_fato as string,",
						"          mes as integer,",
						"          ano as integer,",
						"          risp as string,",
						"          rmbh as string,",
						"          natureza_delito as string,",
						"          tentado_consumado as string,",
						"          qtde_vitimas as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> srcsilver",
						"srcsilver aggregate(groupBy(municipio_fato),",
						"     quantidade_total = count(1)) ~> aggmunicipio",
						"srcsilver aggregate(groupBy(natureza_delito),",
						"     quantidade_total = count(1)) ~> aggnaturezadelito",
						"aggmunicipio sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          municipio_fato as string,",
						"          municipio_cod as long",
						"     ),",
						"     format: 'parquet',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     preCommands: [],",
						"     postCommands: []) ~> toGoldAggMunicipio",
						"aggnaturezadelito sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          municipio_fato as string,",
						"          municipio_cod as long",
						"     ),",
						"     format: 'parquet',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     preCommands: [],",
						"     postCommands: []) ~> toGoldAggDelito"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/silver_parquet')]",
				"[concat(variables('factoryId'), '/datasets/gold_parquet')]"
			]
		}
	]
}